.search {
  display: flex;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 0.3cm;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(230, 230, 230);
}

.search input:focus {
  outline: none;

}
